/*-----------------------------------------------------------------------------------*/
/*  WEDDING PARTY IMAGES
/*-----------------------------------------------------------------------------------*/

.hollis {
  background: url(../img/party/hollis.jpg) 0 0 no-repeat;
}

.emma {
  background: url(../img/party/emma.jpg) 0 0 no-repeat;
}

.kelly {
  background: url(../img/party/kelly.jpg) 0 0 no-repeat;
}

.tay {
  background: url(../img/party/tay.jpg) 0 0 no-repeat;
}

.sarah {
  background: url(../img/party/sarah.jpg) 0 0 no-repeat;
}

.ray {
  background: url(../img/party/ray.jpg) 0 0 no-repeat;
}

.cam {
  background: url(../img/party/cam.jpg) 0 0 no-repeat;
}

.ben {
  background: url(../img/party/ben.jpg) 0 0 no-repeat;
}

.luke {
  background: url(../img/party/luke.jpg) 0 0 no-repeat;
}

.liam {
  background: url(../img/party/liam.jpg) 0 0 no-repeat;
}